<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name="com.videoone.app.protocol.AiChatEntryActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.Transparent" />

        <activity
            android:name="com.byteplus.aichat.AiChatActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Immersion" />
    </application>

</manifest>