<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name="com.vertcdemo.solution.interactivelive.feature.InteractiveLiveEntryActivity"
            android:exported="false"
            android:label="@string/interactive_live_title"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.Transparent" />
        <activity
            android:name="com.vertcdemo.solution.interactivelive.feature.InteractiveLiveActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Immersion" />
    </application>
</manifest>