<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name="com.byteplus.vodlive.recommend.RecommendEntryActivity"
            android:theme="@style/AppTheme.Transparent" />

        <activity
            android:name="com.byteplus.vodlive.recommend.RecommendActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation|keyboard"
            android:theme="@style/AppTheme.Immersion.Black" />

        <activity
            android:name="com.byteplus.vodlive.live.LiveFeedActivity"
            android:theme="@style/AppTheme.Immersion.NoAnimation" />

    </application>
</manifest>