<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-permission
        android:name="android.permission.POST_NOTIFICATIONS"
        tools:targetApi="tiramisu" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CAMERA" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE" />

    <application>
        <service
            android:name="com.vertc.api.example.service.RTCForegroundService"
            android:exported="false"
            android:foregroundServiceType="microphone|camera" />
    </application>
</manifest>